<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='homeStyle.css') }}">
    <title>Personal Task Manager</title>
</head>
<body>

    <h1>Personal Task Manager</h1>
    <form action="" method="post">
        <input type="text" name="task" id="task" placeholder="Enter the task.">
        <input type="submit" value="Add">
    </form>

</body>
</html>